:root {
  /* Основний темний колір */
  --main-dark: #512DA8 ;
  /* Основний світлий колір */
  --main-text:#D1C4E9;
  /* колір акценту */
  --color-accent:#536DFE ;
  /* колір основного тексту */
  --main-light:#212121;
  /*  колір другорядного тексту */
  --other-text:#757575;
  /* колір роздільника */
  --color-separator:#BDBDBD;
 }
 body {
   background-color: var(--main-dark);
   color: var(--main-text);
   font-family: Roboto, sanserif;
 }
 header{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 150px;
   background-color: #42218d;
 }
 header img{
   width: 100px;
   height: 100px;
   position: absolute;
   top: 33px;
   left: 1%;
   border-radius: 50%;
 }

 .hover{
   padding-left:120px;
   padding-right:140px;
   box-shadow: inset 0 0 0 0 #000000;
   color: white;
   transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
   border-radius:0 10px 10px 0;
   
 }
 .hover:hover {
   box-shadow: inset 1100px 10px 10px 100px #f7f7f7;
   color: #42218d;
   border-radius:0 10px 10px 0;
 }

 .center{
   position: absolute;
   top:55%;
   left: 9%;
   transform: translate(-50%, -50%);
 } 
 .card{
   cursor: pointer;
   width: 280px;
   height: 380px;
 }
 .front,
 .back{
   width: 100%;
   height:100%;
   overflow: hidden;
   backface-visibility: hidden;
   position: absolute;
   transition: transform .6s linear;
 }
 .front img{
   height: 100%;
 }

 .front{
   transform: perspective(600px) rotateY(0deg);
 }

 .back{
   transform: perspective(600px) rotateY(180deg);
   background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(122,70,252,1) 100%);
   border: #f7f7f7 3px groove;
 }

 .back-content{
   width: 300px;
   text-align:left;
   padding-left: 98%;
   padding-bottom: 10%;
   font-size:70%;
   color: #f5f5f5;
 }

 .card:hover > .front{
   transform: perspective(600px) rotateY(-180deg);
 }

 .card:hover > .back{
   transform: perspective(600px) rotateY(0deg);
 }

 #hover{
   position: absolute;
   top: 10%;
   font-size: small;
 }

 h2{
   margin-bottom: 20px;
 }
 span{
   display: block;
   margin-top: 3%;
 }

 #padded{
   padding-top: 30%;
 }

 nav{
   position: fixed;
   width: 20%;
   height: 200px;
   top: 25%;
   left:1%;
   font-size: larger;
 }
 nav a{
   text-decoration: none;
   color: var(--main-text);
   
 }
 nav input{
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 }
 main{
   top: 25%;
   margin-top: 2%;
 }
 .book{
   display: flex;
   width: 25%; 
   height: 200px;
   border: 2px solid #42218d;
   background-color: #42218d;
   padding-bottom: 20%;
   border-radius: 40px 0 40px 0;
 }